.myDiv {
    border: 2px; /*solid rgb(137, 17, 10);*/
    border-radius: 10px;
  }
html {
    height: 100%;
}
body {
    /*background-image: url("https://www.brainfacts.org/-/media/Brainfacts2/Neuroscience-in-Society/Neuroscience-in-the-News/November-roundup-thumbnail.jpg");*/
    font-family: Lato,proxima-nova,Helvetica Neue,Arial,sans-serif;
    /**/
    background: linear-gradient( #faf6f2 0% 100%); /*, #343131 0% 100%      90deg,*/
    background-attachment: fixed;
    background-repeat: no-repeat;
    padding-bottom: 250px;
    min-height: 100%;
    /* background: linear-gradient(-45deg, #790909, #a33232, #fcfcfc); */
    background-size: 100% 100%;
    /* animation: gradient 20s ease infinite; */
    height: 100vh;
}
/* @keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
 
    50% {
        background-position: 100% 50%;
    }
 
    100% {
        background-position: 0% 50%;
    }
} */